/* Утка */
.duck{
    position: absolute;
	left: -100px;
    z-index: 1;
}
.duck:before{
    content: '';
    width: 36px;
    height: 34px;
    display: block;
    z-index: 5;
    transform: translate(-50%,-50%);
}
.duck:before{
    background: url(/img/duck_light.png) no-repeat left center;
    background-position-x: -138px; 
}
/* Подстреленная утка */
.duck:checked{
	opacity: 0;
    transition: all 0.5s;
	transform: rotate(120deg);
	transform-origin:50%;
	z-index: -5;
	animation: utkaDie 1s linear infinite;
}

.duck:nth-child(1){
    animation: utkaFly 5s linear;
}
.duck:nth-child(2){
    animation: utkaFly 4s linear 1s;
}
.duck:nth-child(3){
    animation: utkaFly 3s linear 2s;
}
.duck:nth-child(4){
    animation: utkaFly 2s linear 3s;
}
.duck:nth-child(5){
    animation: utkaFly 1s linear 4s;
}
