/* Очки */
.score{
    position: absolute;
    bottom: 0;
    height: 50px;
    line-height: 50px;
    font-size: 30px;
    text-align: center;
    width: 100%;
    z-index: 2;
    background-color: #dadada;
}
.score:after{
	content: counter(score);
	display: inline-block;
}
.score:before{
	content: 'Очки: ';
	display: inline-block;
	margin-right: 10px;
}
.duck:checked{
	counter-increment: score;
}
