//urls
$url_0: url(../img/aim.png);
$url_1: url(../img/bg.png);

body {
	margin: 0;
	padding: 0;
	cursor: $url_0, text;
	overflow: hidden;
	&:before {
		content: '';
		display: block;
		position: fixed;
		width: 100%;
		height: 100%;
		z-index: 1;
		background: $url_1 repeat-x bottom left;
	}
}